.CardPost {
    width: 550px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.CardPost__Content__Title {
    margin-bottom: 10px;
}


.CardPost__Actions {
    justify-content: flex-end;
}

.CardPost__Icon:hover {
    cursor: pointer;
}