.Navbar {
    margin-bottom: 65px;
  }
  
  
.Navbar .Navbar__Container {
    padding: 10px 15px;
    box-shadow: none;
    max-height: 54px;
    background-color: #00a69c;
  }
  
  .Navbar__Container .Navbar__Toolbar {
    min-height: 34px;
    width: 100%;
    max-width: 1285px;
    margin: auto;
    padding: 0;
  }


  .Navbar__Title:hover {
    cursor: pointer;
  }
  