.Home {
    display: flex;
    flex-direction: column;
}

.Home .Home__Button {
    align-self: flex-end;
    width: 160px;
    background-color: rgb(99, 128, 120);
}

.Home__Alert {
    align-self: center;
}

.Home__Post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

